*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* Navbar */
.top-nav {
    background: rgb(23 24 109);
    color: #fff;
    padding: 5px 0;
}

.top-nav h5{
    margin: 0;
}
.top-links{
    display: flex;
    justify-content: space-between;
}
.top-links a{
    color: #fff;
}
.top-links i{
    color: #ffc800;
    margin: 0 5px;
}
.navbar-blue{
    background-color: rgb(7, 8, 85)!important;
}

.navbar-brand {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.navbar-brand span {
    color: #ffc800;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color:transparent;
    border: 1px solid #ffc800;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

.navbar-toggler span {
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

.nav-link.active{
    color: #ffc800;
}


@media screen and (max-width:767px) {
    .top-links{
        font-size: 12px;
        justify-content: center!important;
        align-items: center!important;
        flex-direction: column;
    }
}